/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body, html {
  height: 100%;
}

body{
  font  : normal 22px/30px 'Comfortaa', Helvetica, sans-serif;
  color : #616B76;
}

a {
  color: #DF9496;
  text-decoration: none;
}
a:hover {
  color: #6aa3ae;
}

h1{
  text-align: center;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

/*Calendar*/
.box {
  width : 80%;
  margin: auto;
}

.box h2 {
  text-align: center;
}

th {
  font         : bold 18px/30px;
  color        : #616B76;
  background   : #D9E2E1;
  border-right : 1px solid #A2ADBC;
  border-bottom: 1px solid #A2ADBC;
  border-top   : 1px solid #A2ADBC;
}

.today, td.today.wday-0, td.today.wday-6, td.today a, td.today a:link, td.today a:visited {
  color      : #F6F4DA;
  font-weight: bold;
  background : #DF9496;
}

td.wday-0, td.wday-6 {
  background: #F6F4DB;
}

.calendar td {
  border-right  : 1px solid #A2ADBC;
  border-bottom : 1px solid #A2ADBC;
  width         : 120px;
  height        : 120px;
  vertical-align: top;
}

td a {
  text-decoration: none;
  font-weight    : bold;
  display        : block;
}

td a:link, td a:visited { 
  color: #608194;
}

td a:hover {
  color: #6aa3ae;
}

a.next-month, a.previous-month {
  padding: 0px 5px;
}

.wrapper {
  height        : 100%;
  padding-bottom: 40px;
}

/*Navigation Menu*/
#header {
  display   : block;
  height    : 40px;
  background: #A1ADBB;
  color     : #F4F3EE;
  padding   : 5px 20px 5px 20px;
  border-top: 5px solid #DF9496;
}

#header a {
  color          :#F6F4DB;
  text-decoration: none;
}

#header a:hover {
  color        : #727B84;
  border-bottom: 3px solid #727B84;
}

#nav_bar {
  float: left;
}

#user_header {
  font-size: 15px;
  float    : right;
  display  : inline-block;
}

/*Content*/
.main {
  position    : relative;
  width       : 100%;
  height      : 100%;
  overflow    : auto;
  display     : table;
  table-layout: fixed;
}

.calendar {
  width           : 100%;
  padding         : 0;
  margin          : 0;
  border-left     : 1px solid #A2ADBC;
  font            : normal 15px/20px 'Comfortaa';
  color           : #616B76;
  background-color: #fff;
}

.container h2 {
  text-align: center;
}

/*Event Page*/
#side {
  background-color: #D9E2E1;
  width           : 220px;
  vertical-align  : top;
  text-align      : right;
  padding         : 5px 20px 5px 2px;
  display         : table-cell;
}

#guests {
  display: block;
}

#content {
  padding: 20 px;
  display: table-cell;
}

#eventdescription {
  width  : auto;
  height : auto;
  padding: 0px 20px;
}

#small, #small a {
  font : normal 15px/20px 'Comfortaa';
  height: 20px;
}

#descr {
  color:#616B76;
}

.button {
  margin        : 0px;
  padding-bottom: 5px;
}
.button input {
  background   : #DF9496;
  color        : #F6F4DA;
  border-radius: 5px;
  min-width    : 70px;
  height       : 30px;
  font-size    : 15px;
  border       : none;
}
 
#button_table td {
  padding: 5px;
}

/*Forms*/
.form_style form {
  width                : 250px;
  padding              : 20px;
  border               : 1px solid #270644;
  margin               : auto;
  -moz-border-radius   : 20px;
  -webkit-border-radius: 20px;
  background           :  #D9E2E1;
}

.form_style form .button {
  margin        : 0px;
  padding-bottom: 5px;
}

/*Comments*/
.comment {
  overflow     : hidden;
  padding      : 20px ;
  border-bottom: 1px solid #ddd;
  margin       : 0 0 1em;
  *zoom        : 1;
}

#comment_name {
  float        : left;
  font         : normal 15px/20px 'Comfortaa';
  float        : left;
  margin-right : 10px;
  border-radius: 5px;
  overflow     : hidden;
}

#comment_body {
  overflow     : hidden;
  padding      : 10px;
  border       : 1px solid #e5e5e5;
  border-radius: 5px;
  background   : #EEF4DB;/
}

/*User Account Page*/
.user_account {
  padding      : 30px;
  margin       : 0 auto;
  border-bottom: 1px solid #df9496;
}

#w {
  display       : block;
  width         : 90%;
  margin        : 0 auto;
  padding-bottom: 45px;
  height        : 100%;
}
 
#content {
  display           : block;
  background        : #fff;
  padding           : 25px 20px;
  padding-bottom    : 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow   : rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow        : rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  min-height        :100%;
}
 
 
/*User Account nav links */
#profiletabs {
  display      : block;
  margin: auto;
}
 
#profiletabs ul { list-style: none; display:block; width:800px; height: 50px;  margin: 0 auto;}
#profiletabls ul li { float: left; }
#profiletabs ul li a { 
  display                          : block;
  float                            : left;
  padding                          : 8px 11px;
  font-size                        : 1.2em;
  font-weight                      : bold;
  background                       : #D9E2E1;
  color                            : #616B76;
  margin-right                     : 7px;
  border                           : 1px solid #fff;
  -webkit-border-radius            : 5px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius               : 5px;
  -moz-border-radius-bottomleft    : 0;
  border-radius                    : 5px;
  border-bottom-left-radius        : 0;
  width                            :235px;
  text-align                       : center;
}
#profiletabs ul li a:hover {
  text-decoration: none;
  background     : #EEF4DB;
  color          : #616B76;
}
 
#profiletabs ul li a.sel {
  background  : #EEF4DB;
  color       : #616B76;
  border-color: #d1cdb5;
}

.hidden {
  display: none;
}
 
/*User Account Table*/
.user_account table {
  margin: 0 auto;
}

.user_account table td {
  border-bottom : 1px solid #A2ADBC;
  vertical-align: top;
  padding       : 3px;
  height        : 25px;

}

.user_account table tr:last-child td {
  border-bottom:none;
}

.user_account td a {
  line-height    : 20px;
  text-decoration: none;
  font-weight    : bold;
  display        : block;
}

.user_account td a:link, .user_account td a:visited { 
  color: #608194;
}

.user_account td a:hover {
  color: #6aa3ae;
}


 

